![erd](images/ERD.png)

## Instruction

1. ใช้ project myshop เดิมจากของ WEEK 4 มาทำต่อได้เลยครับ (ใครที่หา project ของ WEEK 4 ไม่เจอแล้ว ให้กลับไปทำตามขั้ยตอนใน week4_exercises.ipynb)
2. ใช้ database `shop` เดิมได้เลยเช่นกันครับ

In [214]:
import os
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = "true"

# import modules
from shop.models import *

### 1. annotate(), F()

1.1 ให้นักศึกษาค้นหาข้อมูล `Payment` โดยให้เพิ่ม field ราคาที่ลบกับส่วนลดแล้ว โดยกำหนดให้ชื่อ field ว่า "after_discount_price" โดยใช้แสดงข้อมูล 10 ตัวแรกเรียงตาม "after_discount_price" จากมากไปน้อย (0.25 คะแนน)

**หมายเหตุ: จะต้องใช้ annotate() นะครับ**

ตัวอย่าง Output

```
ID: 92, PRICE: 1200500.00, DISCOUNT 29433.25, AFTER_DISCOUNT 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT 46229.40, AFTER_DISCOUNT 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT 71407.25, AFTER_DISCOUNT 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT 105019.11, AFTER_DISCOUNT 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT 126859.95, AFTER_DISCOUNT 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT 113446.20, AFTER_DISCOUNT 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT 121922.64, AFTER_DISCOUNT 1080267.36
ID: 77, PRICE: 379000.00, DISCOUNT 19397.00, AFTER_DISCOUNT 359603.00
ID: 127, PRICE: 320450.00, DISCOUNT 14578.90, AFTER_DISCOUNT 305871.10
ID: 125, PRICE: 320399.00, DISCOUNT 17939.55, AFTER_DISCOUNT 302459.45
```

In [137]:
from django.db.models import F
payment = (Payment.objects.annotate(after_discount_price=F('price')-F('discount')).order_by('-after_discount_price')[:10])
for p in payment:
    print(f"ID: {p.id}, PRICE: {p.price}, DISCOUNT: {p.discount}, AFTER_DISCOUNT: {p.after_discount_price}")

ID: 92, PRICE: 1200500.00, DISCOUNT: 29433.25, AFTER_DISCOUNT: 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT: 46229.40, AFTER_DISCOUNT: 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT: 71407.25, AFTER_DISCOUNT: 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT: 105019.11, AFTER_DISCOUNT: 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT: 126859.95, AFTER_DISCOUNT: 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT: 113446.20, AFTER_DISCOUNT: 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT: 121922.64, AFTER_DISCOUNT: 1080267.36
ID: 77, PRICE: 379000.00, DISCOUNT: 19397.00, AFTER_DISCOUNT: 359603.00
ID: 127, PRICE: 320450.00, DISCOUNT: 14578.90, AFTER_DISCOUNT: 305871.10
ID: 125, PRICE: 320399.00, DISCOUNT: 17939.55, AFTER_DISCOUNT: 302459.45

1.2 ต่อเนื่องจากข้อ 1.1 ให้ filter เฉพาะข้อมูล `Payment` ที่มี "after_discount_price" มากกว่า 500,000 (0.25 คะแนน)

ตัวอย่าง Output

```
ID: 92, PRICE: 1200500.00, DISCOUNT 29433.25, AFTER_DISCOUNT 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT 46229.40, AFTER_DISCOUNT 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT 71407.25, AFTER_DISCOUNT 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT 105019.11, AFTER_DISCOUNT 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT 126859.95, AFTER_DISCOUNT 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT 113446.20, AFTER_DISCOUNT 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT 121922.64, AFTER_DISCOUNT 1080267.36
```

In [159]:
from django.db.models import F
payment = (Payment.objects.annotate(after_discount_price=F('price')-F('discount')).filter(after_discount_price__gt=500000)).order_by('-after_discount_price')[:10]
for p in payment:
    print(f"ID: {p.id}, PRICE: {p.price}, DISCOUNT: {p.discount}, AFTER_DISCOUNT: {p.after_discount_price}")

ID: 92, PRICE: 1200500.00, DISCOUNT: 29433.25, AFTER_DISCOUNT: 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT: 46229.40, AFTER_DISCOUNT: 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT: 71407.25, AFTER_DISCOUNT: 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT: 105019.11, AFTER_DISCOUNT: 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT: 126859.95, AFTER_DISCOUNT: 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT: 113446.20, AFTER_DISCOUNT: 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT: 121922.64, AFTER_DISCOUNT: 1080267.36

In [15]:
from django.db.models import F, Value
from django.db.models.functions import Concat
import json
customer = list(Customer.objects.annotate(full_name=Concat(F('first_name'),Value(' '),F('last_name'))).values('id','email','address','full_name').order_by('full_name')[:5])
print(json.dumps(customer, indent=4, sort_keys=False))

[
    {
        "id": 17,
        "email": "anantaya.deena@gmail.com",
        "address": {
            "district": "Yan Nawa",
            "location": "60 Thanon Chan Road",
            "province": "Bangkok",
            "postal_code": 10120
        },
        "full_name": "Anantaya Tontong"
    },
    {
        "id": 25,
        "email": "bancha.zeyou@gmail.com",
        "address": {
            "district": "Watthana",
            "location": "6 Thong Lo Road",
            "province": "Bangkok",
            "postal_code": 10110
        },
        "full_name": "Bancha Kittisompong"
    },
    {
        "id": 19,
        "email": "chayapol.231@gmail.com",
        "address": {
            "district": "Hang Chat",
            "location": "160 Lampang Road",
            "province": "Lampang",
            "postal_code": 52190
        },
        "full_name": "Chayapol Komprach"
    },
    {
        "id": 4,
        "email": "dejwit.tt@gmail.com",
        "address": {
            "district": "Chiang Khan",
            "location": "150 Loei Road",
            "province": "Loei",
            "postal_code": 42110
        },
        "full_name": "Dejwit Tangjareonsakul"
    },
    {
        "id": 11,
        "email": "jack.maa@gmail.com",
        "address": {
            "district": "Bang Khen",
            "location": "88 Phahonyothin Road",
            "province": "Bangkok",
            "postal_code": 10220
        },
        "full_name": "Jack Maa"
    }
]

1.3 ให้นักศึกษาเรียงลำดับข้อมูลลูกค้า (`Customer`) โดยเรียงลำดับตามลำดับตัวอักษร `น้อยไปมาก` จากชื่อเต็มของลูกค้า (`full_name`) โดยแสดง 5 คนแรก (0.5 คะแนน)

**Hint:** Field `full_name` นั้นจะต้องถูก annotate ขึ้นมาโดยการนำ `first_name` มาต่อกับ `last_name` โดยใช้ `Concat(*expressions, **extra)` 

**Hint:** แปลง object เป็น dict ใช้ `values()` [doc](https://docs.djangoproject.com/en/5.0/ref/models/querysets/#values)

```python
>>> Blog.objects.filter(name__startswith="Beatles").values()
<QuerySet [{'id': 1, 'name': 'Beatles Blog', 'tagline': 'All the latest Beatles news.'}]>
```

**Hint:** อยาก print dictionary สวยๆ ใช้ `json.dumps`

```python
print(json.dumps(dictionary, indent=4, sort_keys=False))
```

[doc](https://docs.djangoproject.com/en/5.0/ref/models/database-functions/#concat)

ตัวอย่าง Output 

```python
{
    "id": 17,
    "email": "anantaya.deena@gmail.com",
    "address": {
        "district": "Yan Nawa",
        "location": "60 Thanon Chan Road",
        "province": "Bangkok",
        "postal_code": 10120
    },
    "full_name": "Anantaya Tontong"
}
{
    "id": 25,
    "email": "bancha.zeyou@gmail.com",
    "address": {
        "district": "Watthana",
        "location": "6 Thong Lo Road",
        "province": "Bangkok",
        "postal_code": 10110
    },
    "full_name": "Bancha Kittisompong"
}
{
    "id": 19,
    "email": "chayapol.231@gmail.com",
    "address": {
        "district": "Hang Chat",
        "location": "160 Lampang Road",
        "province": "Lampang",
        "postal_code": 52190
    },
    "full_name": "Chayapol Komprach"
}
{
    "id": 4,
    "email": "dejwit.tt@gmail.com",
    "address": {
        "district": "Chiang Khan",
        "location": "150 Loei Road",
        "province": "Loei",
        "postal_code": 42110
    },
    "full_name": "Dejwit Tangjareonsakul"
}
{
    "id": 11,
    "email": "jack.maa@gmail.com",
    "address": {
        "district": "Bang Khen",
        "location": "88 Phahonyothin Road",
        "province": "Bangkok",
        "postal_code": 10220
    },
    "full_name": "Jack Maa"
}

```

In [343]:
from django.db.models import F, Value
from django.db.models.functions import Concat
import json
customer = Customer.objects.annotate(full_name=Concat(F('first_name'),Value(' '),F('last_name'))).order_by('full_name')[:5].values('id', 'email', 'address', 'full_name')
print(json.dumps(list(customer), indent=10, sort_keys=False))

[
          {
                    "id": 17,
                    "email": "anantaya.deena@gmail.com",
                    "address": {
                              "district": "Yan Nawa",
                              "location": "60 Thanon Chan Road",
                              "province": "Bangkok",
                              "postal_code": 10120
                    },
                    "full_name": "Anantaya Tontong"
          },
          {
                    "id": 25,
                    "email": "bancha.zeyou@gmail.com",
                    "address": {
                              "district": "Watthana",
                              "location": "6 Thong Lo Road",
                              "province": "Bangkok",
                              "postal_code": 10110
                    },
                    "full_name": "Bancha Kittisompong"
          },
          {
                    "id": 19,
                    "email": "chayapol.231@gmail.com",
                    "address": {
                              "district": "Hang Chat",
                              "location": "160 Lampang Road",
                              "province": "Lampang",
                              "postal_code": 52190
                    },
                    "full_name": "Chayapol Komprach"
          },
          {
                    "id": 4,
                    "email": "dejwit.tt@gmail.com",
                    "address": {
                              "district": "Chiang Khan",
                              "location": "150 Loei Road",
                              "province": "Loei",
                              "postal_code": 42110
                    },
                    "full_name": "Dejwit Tangjareonsakul"
          },
          {
                    "id": 11,
                    "email": "jack.maa@gmail.com",
                    "address": {
                              "district": "Bang Khen",
                              "location": "88 Phahonyothin Road",
                              "province": "Bangkok",
                              "postal_code": 10220
                    },
                    "full_name": "Jack Maa"
          }
]

### 3. aggregation - count(), sum(), AVG()

3.1 ให้นักศึกษาหาค่าเฉลี่ยของราคาสินค้า (`Product.price`) ที่มีจำนวนคงเหลือ (`Product.remaining_amount`) มากกว่า 0 (0.25 คะแนน)

``` PYTHON
{'avg': Decimal('29308.000000000000')}
```

In [114]:
avg_price = Product.objects.filter(remaining_amount__gt=0).aggregate(avg=Avg('price',default=0))
print(avg_price)

{'avg': Decimal('29308.000000000000')}

3.2 จงหาผลรวมราคา (`CartItem.product.price`) ที่อยู่ในตระกร้าสินค้าของเดือน `พฤษภาคม` (ดูจาก `Cart.create_date`) (0.5 คะแนน)

```PYTHON
{'sum': Decimal('9912555.00')}

```

In [200]:
from django.db.models import Sum, F
total = (CartItem.objects.filter(cart__create_date__month=5).aggregate(sum=Sum('product__price')))
print(total)

{'sum': Decimal('9912555.00')}

3.3 ให้นักศึกษานับจำนวนสินค้าที่อยู่ประเภท `Electronics`,  `Jewelry` และ ราคาของสินค้าอยู่ในช่วง 8,000.00 - 50,000.00 (0.25 คะแนน)

```
PRODUCT CATEGORY NAME: Electronics, PRODUCT COUNT: 6
PRODUCT CATEGORY NAME: Jewelry, PRODUCT COUNT: 1
```

In [118]:
from django.db.models import Count
product = (Product.objects.filter(categories__name__in=['Electronics', 'Jewelry'],price__gt=8000,price__lt=50000).values('categories__name').annotate(p_count=Count('id')))
for p in product:
    print(f"PRODUCT CATEGORY NAME: {p['categories__name']}, PRODUCT COUNT: {p['p_count']}")

PRODUCT CATEGORY NAME: Electronics, PRODUCT COUNT: 6
PRODUCT CATEGORY NAME: Jewelry, PRODUCT COUNT: 1

In [68]:
from django.db.models import Count
product = (Product.objects.filter(categories__name__in=['Electronics', 'Jewelry'],price__gt=8000,price__lt=50000).values('categories__name').annotate(p_count=Count('id')))
for p in product:
    print(f"PRODUCT CATEGORY NAME: {p['categories__name']}, PRODUCT COUNT: {p['p_count']}")

PRODUCT CATEGORY NAME: Electronics, PRODUCT COUNT: 6
PRODUCT CATEGORY NAME: Jewelry, PRODUCT COUNT: 1

### 4. one-to-one & one-to-many

4.1 ให้นักศึกษาทำการ INSERT ข้อมูลใบสั่งซื้อ (`Order`) และการชำระเงิน (`Payment`) ของลูกค้าชื่อ `Manit Senapan` ตามรายการดังนี้ให้สมบูรณ์ (0.5 คะแนน)

**Hint:** ใน model `Payment` เรามีการเก็บค่า `price` เป็น Decimal ทำให้ค่าของราคาเป็น Decimal เช่นกัน)
[Decimal](https://docs.python.org/3/library/decimal.html)

- ออกใบสั่งซื้อวันที่ 5 สิงหาคม 2024
- ชำระเงินวันที่ 6 สิงหาคม 2024
- หมายเหตุ: `ฉันรวย อยากใช้เงินเยอะๆ`
    
    โดย Manit สั่งสิ้นค้าดั่งนี้

        - Diamond Stud Earrings จำนวน 1 ชิ้น

        - Sofa จำนวน 2 ชิ้น

        - Rose Gold Hoop Earrings จำนวน 1 ชิ้น
    
- โดยที่ Manit ได้รับส่วนลดชิ้นละ 10 % ของสินค้า และมีการระบุหมายเหตุตอนชำระเงินว่า `ลูกค้า VIP ของเรา`
    
- พร้อมชำระเงินโดยให้ 50 % ของราคาทั้งหมดชำระด้วยการแสกน QR code และที่เหลือชำระผ่านบัตรเคดิต

- จากนั้นให้ระบบแสดงผลการสร้างใบสั่งซื้อ และการชำระเงินของ Manit ให้ถูกต้อง


ตัวอย่าง output ที่ต้องการ
```PYTHON
{
    'order_id': 186,
    'order_date': '2024-08-05',
    'order_remark': 'ฉันรวย อยากใช้เงินเยอะๆ',
    'products': [
        {
            'product': 'Diamond Stud Earrings',
            'amount': 1,
            'price': 320000.0,
            'discount': 32000.0
        },
        {
            'product': 'Sofa', 
            'amount': 2, 
            'price': 14000.0, 
            'discount': 1400.0
        },
        {
            'product': 'Rose Gold Hoop Earrings',
            'amount': 1,
            'price': 1200000.0,
            'discount': 120000.0
        }
    ],
    'payment_date': '2024-08-06',
    'payment_remark': 'ลูกค้า VIP ของเรา',
    'payment_method': [
        {
            'method': 'QR', 
            'price': 767000.0
        },
        {
            'method': 'CREDIT', 
            'price': 767000.0
        }
    ]
}

```

### 5. many-to-many

5.1 ให้นักศึกษาค้นหาข้อมูลสินค้า (`Product`) ที่อยู่ในประเภทสินค้า "Information technology" 10 รายการแรก (เรียงลำดับด้วย `Product.id`) และแสดงชื่อประเภทสินค้า (`ProductCategory`) (0.25 คะแนน)

ตัวอย่าง Output บางส่วน

```
PRODUCT ID: 1, PRODUCT NAME: Smartphone, PRODUCT CATEGORY: Information technology, Electronics
PRODUCT ID: 2, PRODUCT NAME: Laptop, PRODUCT CATEGORY: Information technology, Electronics
PRODUCT ID: 3, PRODUCT NAME: Smart TV, PRODUCT CATEGORY: Information technology, Electronics
```

In [284]:
products = Product.objects.filter(categories__name="Information Technology").order_by('id')[:10]
for p in products:
    cat = ", ".join([cat.name for cat in p.categories.all()])
    print(f"PRODUCT ID: {p.id}, PRODUCT NAME: {p.name}, PRODUCT CATEGORIES: {cat}")

PRODUCT ID: 1, PRODUCT NAME: Smartphone, PRODUCT CATEGORIES: Information Technology, Electronics
PRODUCT ID: 2, PRODUCT NAME: Laptop, PRODUCT CATEGORIES: Information Technology, Electronics
PRODUCT ID: 3, PRODUCT NAME: Smart TV, PRODUCT CATEGORIES: Information Technology, Electronics
PRODUCT ID: 4, PRODUCT NAME: Bluetooth Earphones, PRODUCT CATEGORIES: Information Technology, Electronics
PRODUCT ID: 5, PRODUCT NAME: Tablet, PRODUCT CATEGORIES: Information Technology, Electronics
PRODUCT ID: 6, PRODUCT NAME: Gaming Console, PRODUCT CATEGORIES: Information Technology, Electronics
PRODUCT ID: 7, PRODUCT NAME: Digital Camera, PRODUCT CATEGORIES: Information Technology, Electronics
PRODUCT ID: 8, PRODUCT NAME: Wireless Router, PRODUCT CATEGORIES: Information Technology, Electronics
PRODUCT ID: 9, PRODUCT NAME: Portable Power Bank, PRODUCT CATEGORIES: Information Technology, Electronics
PRODUCT ID: 10, PRODUCT NAME: Smartwatch, PRODUCT CATEGORIES: Information Technology, Electronics

In [126]:
# กรองสินค้าเฉพาะที่มีประเภทสินค้าเป็น "Information Technology" และจัดเรียงตาม id
products = Product.objects.filter(categories__name="Information Technology").order_by('id')[:10]

# วนลูปผ่านสินค้าแต่ละตัวที่ได้จากการกรอง
for p in products:
    # ใช้ list comprehension เพื่อดึงชื่อประเภทสินค้าของสินค้าแต่ละตัว
    categories = [cat.name for cat in p.categories.all()]
    # พิมพ์ข้อมูลสินค้าและชื่อประเภทสินค้าในบรรทัดเดียว
    print(f"PRODUCT ID: {p.id}, PRODUCT NAME: {p.name}, PRODUCT CATEGORIES: {categories}")

PRODUCT ID: 1, PRODUCT NAME: Smartphone, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']
PRODUCT ID: 2, PRODUCT NAME: Laptop, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']
PRODUCT ID: 3, PRODUCT NAME: Smart TV, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']
PRODUCT ID: 4, PRODUCT NAME: Bluetooth Earphones, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']
PRODUCT ID: 5, PRODUCT NAME: Tablet, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']
PRODUCT ID: 6, PRODUCT NAME: Gaming Console, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']
PRODUCT ID: 7, PRODUCT NAME: Digital Camera, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']
PRODUCT ID: 8, PRODUCT NAME: Wireless Router, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']
PRODUCT ID: 9, PRODUCT NAME: Portable Power Bank, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']
PRODUCT ID: 10, PRODUCT NAME: Smartwatch, PRODUCT CATEGORIES: ['Information Technology', 'Electronics']

5.2 ให้นักศึกษาทำตามขั้นตอนดังนี้ (0.25 คะแนน)

    1. เปลี่ยนชื่อประเภทสินค้า `Books and Media` เป็น `Books and Toys` 
    2. ลบประเภท `Toys and Games` ออกโดยให้ใช้เป็น `Books and Toys` แทน
    3. ค้นหาว่าสินค้าที่มีประเภทสินค้าเป็น `Books and Toys` ทั้งหมดมีจำนวนเท่าไหร่

In [287]:
n = ProductCategory.objects.get(name="Books and Media")
n.name = "Books and Toy"
n.save()

In [340]:
o = ProductCategory.objects.get(name="Toys and Games")#ดึงข้อมูลประเภทสินค้าที่มีชื่อ "Toys and Games" จากฐานข้อมูล และเก็บไว้ในตัวแปร o
a = Product.objects.filter(categories__name="Toys and Games")#ดึงข้อมูลสินค้าทั้งหมดที่มีประเภทสินค้าเป็น "Toys and Games" และเก็บไว้ในตัวแปร a
for i in a:
    i.categories.add(n)
    i.categories.remove(o)

In [336]:
p = Product.objects.filter(categories__name="Books and Toy")
print(p)

<QuerySet [<Product: Product object (41)>, <Product: Product object (42)>, <Product: Product object (43)>, <Product: Product object (44)>, <Product: Product object (45)>, <Product: Product object (46)>, <Product: Product object (47)>, <Product: Product object (48)>, <Product: Product object (49)>, <Product: Product object (50)>]>

In [337]:
p.count()

10

1.1 ให้นักศึกษาค้นหาข้อมูล Payment โดยให้เพิ่ม field ราคาที่ลบกับส่วนลดแล้ว โดยกำหนดให้ชื่อ field ว่า "after_discount_price" โดยใช้แสดงข้อมูล 10 ตัวแรกเรียงตาม "after_discount_price" จากมากไปน้อย (0.25 คะแนน)

หมายเหตุ: จะต้องใช้ annotate() นะครับ

ตัวอย่าง Output

ID: 92, PRICE: 1200500.00, DISCOUNT 29433.25, AFTER_DISCOUNT 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT 46229.40, AFTER_DISCOUNT 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT 71407.25, AFTER_DISCOUNT 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT 105019.11, AFTER_DISCOUNT 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT 126859.95, AFTER_DISCOUNT 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT 113446.20, AFTER_DISCOUNT 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT 121922.64, AFTER_DISCOUNT 1080267.36
ID: 77, PRICE: 379000.00, DISCOUNT 19397.00, AFTER_DISCOUNT 359603.00
ID: 127, PRICE: 320450.00, DISCOUNT 14578.90, AFTER_DISCOUNT 305871.10
ID: 125, PRICE: 320399.00, DISCOUNT 17939.55, AFTER_DISCOUNT 302459.45

In [6]:
from shop.models import Payment
from django.db.models import F
payment = Payment.objects.annotate(after_discount_price=F('price')-F('discount')).order_by('-after_discount_price')[:10]
for p in payment:
    print(f"ID: {p.id}, PRICE:{p.price}, DISCOUNT: {p.discount}, After:{p.after_discount_price}")

ID: 186, PRICE:1380600.00, DISCOUNT: 138060.00, After:1242540.00
ID: 92, PRICE:1200500.00, DISCOUNT: 29433.25, After:1171066.75
ID: 82, PRICE:1200280.00, DISCOUNT: 46229.40, After:1154050.60
ID: 137, PRICE:1200690.00, DISCOUNT: 71407.25, After:1129282.75
ID: 105, PRICE:1200390.00, DISCOUNT: 105019.11, After:1095370.89
ID: 45, PRICE:1218900.00, DISCOUNT: 126859.95, After:1092040.05
ID: 7, PRICE:1201200.00, DISCOUNT: 113446.20, After:1087753.80
ID: 18, PRICE:1202190.00, DISCOUNT: 121922.64, After:1080267.36
ID: 77, PRICE:379000.00, DISCOUNT: 19397.00, After:359603.00
ID: 127, PRICE:320450.00, DISCOUNT: 14578.90, After:305871.10

In [ ]:
ต่อเนื่องจากข้อ 1.1 ให้ filter เฉพาะข้อมูล Payment ที่มี "after_discount_price" มากกว่า 500,000 (0.25 คะแนน)

In [9]:
from django.db.models import F
payment = (Payment.objects.annotate(after_discount_price=F('price')-F('discount')).filter(after_discount_price__gt=500000).order_by('-after_discount_price')[:10])
for p in payment:
    print(f"ID: {p.id}, PRICE: {p.price}, DISCOUNT: {p.discount}, AFTER_DISCOUNT: {p.after_discount_price}")

ID: 186, PRICE: 1380600.00, DISCOUNT: 138060.00, AFTER_DISCOUNT: 1242540.00
ID: 92, PRICE: 1200500.00, DISCOUNT: 29433.25, AFTER_DISCOUNT: 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT: 46229.40, AFTER_DISCOUNT: 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT: 71407.25, AFTER_DISCOUNT: 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT: 105019.11, AFTER_DISCOUNT: 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT: 126859.95, AFTER_DISCOUNT: 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT: 113446.20, AFTER_DISCOUNT: 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT: 121922.64, AFTER_DISCOUNT: 1080267.36

In [ ]:
หาค่าเฉลี่ยของจำนวนสินค้าที่ถูกสั่งซื้อ (OrderItem.amount) ของลูกค้าที่มีการสั่งซื้อในเดือน มิถุนายน (ดูจาก Order.order_date)

In [17]:
from django.db.models import Avg
a = OrderItem.objects.filter(order__order_date__month=6).aggregate(Avg('amount'))
print(a)

{'amount__avg': 2.079710144927536}

In [ ]:
จทย์ที่ 5: หาผลรวมราคาของสินค้าที่ลูกค้าทั้งหมดซื้อในปี 2023 (ดูจาก Order.order_date)

In [26]:
from django.db.models import Sum
s = OrderItem.objects.filter(order__order_date__year=2024).aggregate(sum=Sum('product__price'))
print(s)

{'sum': Decimal('13618200.00')}

In [ ]:
โจทย์ที่ 6: นับจำนวนคำสั่งซื้อทั้งหมด (Order) ที่มีราคามากกว่า 100,000 บาท

In [31]:
from django.db.models import Count

order_count = Order.objects.filter(orderitem__product__price__gt=100000).distinct().count()
print({'order_count': order_count})

{'order_count': 13}

In [ ]:
โจทย์ที่ 7: หาจำนวนเงินรวมที่ลูกค้าแต่ละคนใช้จ่ายไป (Payment.price)

In [54]:
p = Payment.objects.filter(order__customer_id=1).aggregate(Sum('price'))#คนเดว
print(p)

{'price__sum': Decimal('18717.00')}

In [ ]:
from django.db.models import Sum
import json

# คำนวณจำนวนเงินรวมที่ลูกค้าแต่ละคนใช้จ่าย
total_spent_per_customer = Payment.objects.values('order__customer_id').annotate(total_spent=Sum('price')).order_by('order__customer_id')

# แปลง Decimal เป็น str
total_spent_per_customer = [
    {
        'order__customer_id': item['order__customer_id'],
        'total_spent': str(item['total_spent'])  # แปลง Decimal เป็น str
    }
    for item in total_spent_per_customer
]

print(json.dumps(total_spent_per_customer, indent=4, sort_keys=False))

In [ ]:
โจทย์ที่ 8: หาค่าเฉลี่ยของจำนวนสินค้าที่คงเหลือ (Product.remaining_amount) ในแต่ละประเภทของสินค้า

In [62]:
a = Product.objects.values('categories__name').annotate(Avg('remaining_amount')).order_by('categories__name')
print(list(a))

[{'categories__name': 'Books and Toy', 'remaining_amount__avg': 74.1}, {'categories__name': 'Clothing and Apparel', 'remaining_amount__avg': 137.7}, {'categories__name': 'Electronics', 'remaining_amount__avg': 37.9}, {'categories__name': 'Furniture', 'remaining_amount__avg': 36.6}, {'categories__name': 'Information Technology', 'remaining_amount__avg': 24.5}, {'categories__name': 'Jewelry', 'remaining_amount__avg': 11.8}, {'categories__name': 'Pet Supplies', 'remaining_amount__avg': 56.2}]

In [59]:
 avg_remaining = Product.objects.values('categories__name').annotate(avg_remaining=Avg('remaining_amount')).order_by('categories__name')
print(list(avg_remaining))

[{'categories__name': 'Books and Toy', 'avg_remaining': 74.1}, {'categories__name': 'Clothing and Apparel', 'avg_remaining': 137.7}, {'categories__name': 'Electronics', 'avg_remaining': 37.9}, {'categories__name': 'Furniture', 'avg_remaining': 36.6}, {'categories__name': 'Information Technology', 'avg_remaining': 24.5}, {'categories__name': 'Jewelry', 'avg_remaining': 11.8}, {'categories__name': 'Pet Supplies', 'avg_remaining': 56.2}]

In [ ]:
1.1 query หาข้อมูล Order ทั้งหมดที่เกิดขึ้นในเดือน พฤษภาคม มาแสดงผล 10 รายการแรก และแสดงผลดังตัวอย่าง (0.5 คะแนน)

ORDER ID:22, DATE: 2024-05-01, PRICE: 4890.00
ORDER ID:23, DATE: 2024-05-01, PRICE: 2540.00
ORDER ID:24, DATE: 2024-05-01, PRICE: 1720.00
ORDER ID:25, DATE: 2024-05-02, PRICE: 322499.00
ORDER ID:26, DATE: 2024-05-02, PRICE: 3399.00
ORDER ID:27, DATE: 2024-05-02, PRICE: 1190.00
ORDER ID:28, DATE: 2024-05-03, PRICE: 9499.00
ORDER ID:29, DATE: 2024-05-03, PRICE: 700.00
ORDER ID:30, DATE: 2024-05-03, PRICE: 1690.00
ORDER ID:31, DATE: 2024-05-04, PRICE: 3280.00

In [80]:
o = Order.objects.filter(order_date__month=5)[:10]
for i in o:
    print( f"ORDER ID:{i.id}, DATE:{i.order_date}, PRICE: {i.payment.price}")

ORDER ID:22, DATE:2024-05-01, PRICE: 4890.00
ORDER ID:23, DATE:2024-05-01, PRICE: 2540.00
ORDER ID:24, DATE:2024-05-01, PRICE: 1720.00
ORDER ID:25, DATE:2024-05-02, PRICE: 322499.00
ORDER ID:26, DATE:2024-05-02, PRICE: 3399.00
ORDER ID:27, DATE:2024-05-02, PRICE: 1190.00
ORDER ID:28, DATE:2024-05-03, PRICE: 9499.00
ORDER ID:29, DATE:2024-05-03, PRICE: 700.00
ORDER ID:30, DATE:2024-05-03, PRICE: 1690.00
ORDER ID:31, DATE:2024-05-04, PRICE: 3280.00

In [ ]:
query หาข้อมูล Product ที่มีคำลงท้ายว่า features. ในรายละเอียดสินค้า และแสดงผลดังตัวอย่าง (0.5 คะแนน)

PRODUCT ID: 1, DESCRIPTION: A sleek and powerful smartphone with advanced features.
PRODUCT ID: 7, DESCRIPTION: High-resolution digital camera with advanced photography features.
PRODUCT ID: 10, DESCRIPTION: A stylish smartwatch with health monitoring and notification features.
PRODUCT ID: 14, DESCRIPTION: Split air conditioner with remote control and energy-saving features.
PRODUCT ID: 45, DESCRIPTION: Customizable racing track set with loop and jump features.

In [85]:
p = Product.objects.filter(description__endswith='features.')
for i in p:
    print(f"PRODUCT ID:{i.id}, DESCRIPTION: {i.description}")

PRODUCT ID:1, DESCRIPTION: A sleek and powerful smartphone with advanced features.
PRODUCT ID:7, DESCRIPTION: High-resolution digital camera with advanced photography features.
PRODUCT ID:10, DESCRIPTION: A stylish smartwatch with health monitoring and notification features.
PRODUCT ID:14, DESCRIPTION: Split air conditioner with remote control and energy-saving features.
PRODUCT ID:45, DESCRIPTION: Customizable racing track set with loop and jump features.

In [ ]:
1.3 query หาข้อมูล Product ที่มีราคาสินค้าตั้งแต่ 5000.00 ขึ้นไป และอยู่ในหมวดหมู่ Information Technology และแสดงผลดังตัวอย่าง (0.5 คะแนน)

PRODUCT ID: 1, NAME: Smartphone, PRICE: 5900.00
PRODUCT ID: 2, NAME: Laptop, PRICE: 25999.00
PRODUCT ID: 3, NAME: Smart TV, PRICE: 8900.00
PRODUCT ID: 5, NAME: Tablet, PRICE: 12900.00
PRODUCT ID: 6, NAME: Gaming Console, PRICE: 5000.00
PRODUCT ID: 7, NAME: Digital Camera, PRICE: 32000.00
PRODUCT ID: 10, NAME: Smartwatch, PRICE: 4500.00

In [88]:
p = Product.objects.filter(price__gte=5000,categories__name='Information Technology')
for i in p:
    print(f"PRODUCT ID: {i.id}, NAME: {i.name}, PRICE: {i.price}")

PRODUCT ID: 1, NAME: Smartphone, PRICE: 5900.00
PRODUCT ID: 2, NAME: Laptop, PRICE: 25999.00
PRODUCT ID: 3, NAME: Smart TV, PRICE: 8900.00
PRODUCT ID: 5, NAME: Tablet, PRICE: 12900.00
PRODUCT ID: 6, NAME: Gaming Console, PRICE: 5000.00
PRODUCT ID: 7, NAME: Digital Camera, PRICE: 32000.00

In [ ]:
1.4 query หาข้อมูล Product ที่มีราคาสินค้าน้อยกว่า 200.00 และมากกว่า 100.00 และแสดงผลดังตัวอย่าง (0.5 คะแนน)

PRODUCT ID: 28, NAME: Women's Sweater, PRICE: 190.00
PRODUCT ID: 66, NAME: Salvage the Bones, PRICE: 129.00

In [95]:
from shop.models import Product
product = Product.objects.filter(price__gt=100.00, price__lt=200)
for ans in product:
    print(f"PRODUCT ID: {ans.id}, NAME: {ans.name}, PRICE: {ans.price:.2f}")

PRODUCT ID: 28, NAME: Women's Sweater, PRICE: 190.00

In [ ]:
Query หาข้อมูล Customer ที่ไม่มีที่อยู่ (address เป็น null)

In [99]:
c = Customer.objects.filter(address__isnull=False)
for i in c:
    print(f"{i.id}")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
 Query หาข้อมูล OrderItem ที่มีจำนวนสินค้ามากกว่า 1

In [101]:
o = OrderItem.objects.filter(amount__gt=1)
for i in o:
    print(f"{i.product.id}")

49
50
3
18
43
55
65
64
21
36
51
59
16
57
13
1
9
6
36
65
42
2
21
9
16
51
60
37
61
21
8
64
8
33
41
60
55
17
54
43
51
26
50
4
28
9
28
12
53
14
32
25
60
49
45
20
57
60
36
21
23
17
23
45
25
46
13
42
55
63
19
45
20
51
18
33
34
39
44
12
23
47
36
10
19
13
25
10
58
59
7
16
26
63
29
56
35
14
4
17
51
34
59
47
43
34
44
46
41
54
41
23
36
17
7
44
55
20
25
63
54
14
36
27
58
59
47
62
24
13
9
34
11
49
14
11
2
47
16
8
15
14
18
42
44
17
34
17
3
32
46
19
53
54
54
23
57
2
55
61
36
24
61
22
22
1
41
32
7
63
24
48
12
48
22
32
65
10
43
59
32
11
8
2
22
39
37
47
31
30
63
19
19
16
29
27
19
32
49
41
62
13
16
23
1
34
31
27
27
24
24
2
15
14
52
63
48
28
53
54
26
11
29
57
42
41
13
50
59
40
48
58
62
28
50
15
13
52
16
62
4
22
63
31

In [76]:
from shop.models import OrderItem
orderitem = OrderItem.objects.filter(amount__gte=1)
for c in orderitem:
    print(f"CUSTOMER ID: {c.order.customer.id}")

CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 3
CUSTOMER ID: 3
CUSTOMER ID: 2
CUSTOMER ID: 2
CUSTOMER ID: 28
CUSTOMER ID: 28
CUSTOMER ID: 12
CUSTOMER ID: 12
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 29
CUSTOMER ID: 29
CUSTOMER ID: 17
CUSTOMER ID: 17
CUSTOMER ID: 27
CUSTOMER ID: 27
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 3
CUSTOMER ID: 3
CUSTOMER ID: 19
CUSTOMER ID: 19
CUSTOMER ID: 23
CUSTOMER ID: 23
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 21
CUSTOMER ID: 21
CUSTOMER ID: 26
CUSTOMER ID: 26
CUSTOMER ID: 21
CUSTOMER ID: 21
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 20
CUSTOMER ID: 20
CUSTOMER ID: 23
CUSTOMER ID: 23
CUSTOMER ID: 8
CUSTOMER ID: 8
CUSTOMER ID: 24
CUSTOMER ID: 24
CUSTOMER ID: 20
CUSTOMER ID: 20
CUSTOMER ID: 7
CUSTOMER ID: 7
CUSTOMER ID: 25
CUSTOMER ID: 25
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 3
CUSTOMER ID: 3
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 17
CUSTOMER ID: 17
CUSTOMER ID: 22
CUSTOMER ID: 22
CUSTOMER ID: 27
CUSTOMER ID: 27
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 10
CUSTOMER ID: 10
CUSTOMER ID: 22
CUSTOMER ID: 22
CUSTOMER ID: 27
CUSTOMER ID: 27
CUSTOMER ID: 19
CUSTOMER ID: 19
CUSTOMER ID: 2
CUSTOMER ID: 2
CUSTOMER ID: 12
CUSTOMER ID: 12
CUSTOMER ID: 26
CUSTOMER ID: 26
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 11
CUSTOMER ID: 11
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 26
CUSTOMER ID: 26
CUSTOMER ID: 6
CUSTOMER ID: 6
CUSTOMER ID: 11
CUSTOMER ID: 11
CUSTOMER ID: 18
CUSTOMER ID: 18
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 26
CUSTOMER ID: 26
CUSTOMER ID: 10
CUSTOMER ID: 10
CUSTOMER ID: 28
CUSTOMER ID: 28
CUSTOMER ID: 13
CUSTOMER ID: 13
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 10
CUSTOMER ID: 10
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 22
CUSTOMER ID: 22
CUSTOMER ID: 26
CUSTOMER ID: 26
CUSTOMER ID: 18
CUSTOMER ID: 18
CUSTOMER ID: 25
CUSTOMER ID: 25
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 11
CUSTOMER ID: 11
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 23
CUSTOMER ID: 23
CUSTOMER ID: 26
CUSTOMER ID: 26
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 8
CUSTOMER ID: 8
CUSTOMER ID: 15
CUSTOMER ID: 15
CUSTOMER ID: 26
CUSTOMER ID: 26
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 11
CUSTOMER ID: 11
CUSTOMER ID: 22
CUSTOMER ID: 22
CUSTOMER ID: 28
CUSTOMER ID: 28
CUSTOMER ID: 12
CUSTOMER ID: 12
CUSTOMER ID: 1
CUSTOMER ID: 1
CUSTOMER ID: 21
CUSTOMER ID: 21
CUSTOMER ID: 27
CUSTOMER ID: 27
CUSTOMER ID: 12
CUSTOMER ID: 12
CUSTOMER ID: 26
CUSTOMER ID: 26
CUSTOMER ID: 6
CUSTOMER ID: 6
CUSTOMER ID: 21
CUSTOMER ID: 21
CUSTOMER ID: 22
CUSTOMER ID: 22
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 8
CUSTOMER ID: 8
CUSTOMER ID: 25
CUSTOMER ID: 25
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 6
CUSTOMER ID: 6
CUSTOMER ID: 3
CUSTOMER ID: 3
CUSTOMER ID: 10
CUSTOMER ID: 10
CUSTOMER ID: 24
CUSTOMER ID: 24
CUSTOMER ID: 8
CUSTOMER ID: 8
CUSTOMER ID: 29
CUSTOMER ID: 29
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 27
CUSTOMER ID: 27
CUSTOMER ID: 19
CUSTOMER ID: 19
CUSTOMER ID: 8
CUSTOMER ID: 8
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 7
CUSTOMER ID: 7
CUSTOMER ID: 15
CUSTOMER ID: 15
CUSTOMER ID: 9
CUSTOMER ID: 9
CUSTOMER ID: 3
CUSTOMER ID: 3
CUSTOMER ID: 1
CUSTOMER ID: 1
CUSTOMER ID: 28
CUSTOMER ID: 28
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 16
CUSTOMER ID: 16
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 20
CUSTOMER ID: 20
CUSTOMER ID: 26
CUSTOMER ID: 26
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 27
CUSTOMER ID: 27
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 23
CUSTOMER ID: 23
CUSTOMER ID: 15
CUSTOMER ID: 15
CUSTOMER ID: 25
CUSTOMER ID: 25
CUSTOMER ID: 29
CUSTOMER ID: 29
CUSTOMER ID: 24
CUSTOMER ID: 24
CUSTOMER ID: 9
CUSTOMER ID: 9
CUSTOMER ID: 17
CUSTOMER ID: 17
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 7
CUSTOMER ID: 7
CUSTOMER ID: 22
CUSTOMER ID: 22
CUSTOMER ID: 17
CUSTOMER ID: 17
CUSTOMER ID: 13
CUSTOMER ID: 13
CUSTOMER ID: 16
CUSTOMER ID: 16
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 2
CUSTOMER ID: 2
CUSTOMER ID: 22
CUSTOMER ID: 22
CUSTOMER ID: 2
CUSTOMER ID: 2
CUSTOMER ID: 27
CUSTOMER ID: 27
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 11
CUSTOMER ID: 11
CUSTOMER ID: 27
CUSTOMER ID: 27
CUSTOMER ID: 17
CUSTOMER ID: 17
CUSTOMER ID: 6
CUSTOMER ID: 6
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 10
CUSTOMER ID: 10
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 7
CUSTOMER ID: 7
CUSTOMER ID: 1
CUSTOMER ID: 1
CUSTOMER ID: 24
CUSTOMER ID: 24
CUSTOMER ID: 10
CUSTOMER ID: 10
CUSTOMER ID: 13
CUSTOMER ID: 13
CUSTOMER ID: 11
CUSTOMER ID: 11
CUSTOMER ID: 12
CUSTOMER ID: 12
CUSTOMER ID: 7
CUSTOMER ID: 7
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 6
CUSTOMER ID: 6
CUSTOMER ID: 16
CUSTOMER ID: 16
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 24
CUSTOMER ID: 24
CUSTOMER ID: 29
CUSTOMER ID: 29
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 5
CUSTOMER ID: 5
CUSTOMER ID: 3
CUSTOMER ID: 3
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 25
CUSTOMER ID: 25
CUSTOMER ID: 10
CUSTOMER ID: 10
CUSTOMER ID: 4
CUSTOMER ID: 4
CUSTOMER ID: 25
CUSTOMER ID: 25
CUSTOMER ID: 14
CUSTOMER ID: 14
CUSTOMER ID: 12
CUSTOMER ID: 12
CUSTOMER ID: 15
CUSTOMER ID: 15
CUSTOMER ID: 3
CUSTOMER ID: 3
CUSTOMER ID: 12
CUSTOMER ID: 12
CUSTOMER ID: 9
CUSTOMER ID: 9
CUSTOMER ID: 2
CUSTOMER ID: 2
CUSTOMER ID: 11
CUSTOMER ID: 11
CUSTOMER ID: 21
CUSTOMER ID: 21
CUSTOMER ID: 1
CUSTOMER ID: 1
CUSTOMER ID: 10
CUSTOMER ID: 10
CUSTOMER ID: 6
CUSTOMER ID: 6
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 23
CUSTOMER ID: 23
CUSTOMER ID: 1
CUSTOMER ID: 1
CUSTOMER ID: 15
CUSTOMER ID: 15
CUSTOMER ID: 23
CUSTOMER ID: 23
CUSTOMER ID: 30
CUSTOMER ID: 30
CUSTOMER ID: 2
CUSTOMER ID: 2
CUSTOMER ID: 21
CUSTOMER ID: 21
CUSTOMER ID: 22
CUSTOMER ID: 22
CUSTOMER ID: 22

In [ ]:
 Query หาข้อมูล Cart ที่ถูกสร้างขึ้นในปี 2023

In [105]:
c = Cart.objects.filter(create_date__month=6)
for i in c:
    print(f"{i.id}")

115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183

In [ ]:
1.1 ให้นักศึกษาค้นหาข้อมูล Payment โดยให้เพิ่ม field ราคาที่ลบกับส่วนลดแล้ว โดยกำหนดให้ชื่อ field ว่า "after_discount_price" โดยใช้แสดงข้อมูล 10 ตัวแรกเรียงตาม "after_discount_price" จากมากไปน้อย (0.25 คะแนน)

หมายเหตุ: จะต้องใช้ annotate() นะครับ

ตัวอย่าง Output

ID: 92, PRICE: 1200500.00, DISCOUNT 29433.25, AFTER_DISCOUNT 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT 46229.40, AFTER_DISCOUNT 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT 71407.25, AFTER_DISCOUNT 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT 105019.11, AFTER_DISCOUNT 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT 126859.95, AFTER_DISCOUNT 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT 113446.20, AFTER_DISCOUNT 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT 121922.64, AFTER_DISCOUNT 1080267.36
ID: 77, PRICE: 379000.00, DISCOUNT 19397.00, AFTER_DISCOUNT 359603.00
ID: 127, PRICE: 320450.00, DISCOUNT 14578.90, AFTER_DISCOUNT 305871.10
ID: 125, PRICE: 320399.00, DISCOUNT 17939.55, AFTER_DISCOUNT 302459.45

In [110]:
from django.db.models import F
p = Payment.objects.annotate(after_discount_price=F('price')-F('discount')).order_by('-after_discount_price')[1:11]
for i in p:
    print(f"ID: {i.id}, PRICE: {i.price}, DISCOUNT: {i.discount}, AFTER: {i.after_discount_price}")

ID: 92, PRICE: 1200500.00, DISCOUNT: 29433.25, AFTER: 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT: 46229.40, AFTER: 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT: 71407.25, AFTER: 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT: 105019.11, AFTER: 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT: 126859.95, AFTER: 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT: 113446.20, AFTER: 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT: 121922.64, AFTER: 1080267.36
ID: 77, PRICE: 379000.00, DISCOUNT: 19397.00, AFTER: 359603.00
ID: 127, PRICE: 320450.00, DISCOUNT: 14578.90, AFTER: 305871.10
ID: 125, PRICE: 320399.00, DISCOUNT: 17939.55, AFTER: 302459.45

In [ ]:
1.2 ต่อเนื่องจากข้อ 1.1 ให้ filter เฉพาะข้อมูล Payment ที่มี "after_discount_price" มากกว่า 500,000 (0.25 คะแนน)

ตัวอย่าง Output

ID: 92, PRICE: 1200500.00, DISCOUNT 29433.25, AFTER_DISCOUNT 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT 46229.40, AFTER_DISCOUNT 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT 71407.25, AFTER_DISCOUNT 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT 105019.11, AFTER_DISCOUNT 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT 126859.95, AFTER_DISCOUNT 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT 113446.20, AFTER_DISCOUNT 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT 121922.64, AFTER_DISCOUNT 1080267.36

In [111]:
from django.db.models import F
p = Payment.objects.annotate(after_discount_price=F('price')-F('discount')).filter(after_discount_price__gt=500000).order_by('-after_discount_price')[1:11]
for i in p:
    print(f"ID: {i.id}, PRICE: {i.price}, DISCOUNT: {i.discount}, AFTER: {i.after_discount_price}")

ID: 92, PRICE: 1200500.00, DISCOUNT: 29433.25, AFTER: 1171066.75
ID: 82, PRICE: 1200280.00, DISCOUNT: 46229.40, AFTER: 1154050.60
ID: 137, PRICE: 1200690.00, DISCOUNT: 71407.25, AFTER: 1129282.75
ID: 105, PRICE: 1200390.00, DISCOUNT: 105019.11, AFTER: 1095370.89
ID: 45, PRICE: 1218900.00, DISCOUNT: 126859.95, AFTER: 1092040.05
ID: 7, PRICE: 1201200.00, DISCOUNT: 113446.20, AFTER: 1087753.80
ID: 18, PRICE: 1202190.00, DISCOUNT: 121922.64, AFTER: 1080267.36

In [ ]:
3.1 ให้นักศึกษาหาค่าเฉลี่ยของราคาสินค้า (Product.price) ที่มีจำนวนคงเหลือ (Product.remaining_amount) มากกว่า 0 (0.25 คะแนน)

{'avg': Decimal('29308.000000000000')}

In [113]:
p = Product.objects.filter(remaining_amount__gt=0).aggregate(Avg('price'))
print(p)

{'price__avg': Decimal('29308.000000000000')}

In [ ]:
3.2 จงหาผลรวมราคา (CartItem.product.price) ที่อยู่ในตระกร้าสินค้าของเดือน พฤษภาคม (ดูจาก Cart.create_date) (0.5 คะแนน)

{'sum': Decimal('9912555.00')}

In [115]:
c = CartItem.objects.filter(cart__create_date__month=5).aggregate(sum=Sum('product__price'))
print(c)

{'sum': Decimal('9912555.00')}

In [ ]:
3.3 ให้นักศึกษานับจำนวนสินค้าที่อยู่ประเภท Electronics, Jewelry และ ราคาของสินค้าอยู่ในช่วง 8,000.00 - 50,000.00 (0.25 คะแนน)

PRODUCT CATEGORY NAME: Electronics, PRODUCT COUNT: 6
PRODUCT CATEGORY NAME: Jewelry, PRODUCT COUNT: 1

In [122]:
c = Product.objects.filter(categories__name__in=['Electronics','Jewelry'], price__gt=8000,price__lt=50000).values('categories__name').annotate(cou=Count('id'))
for i in c:
    print(f"PRODUCT CATEGORY NAME:{i['categories__name']}, PRODUCT COUNT: {i['cou']}")

PRODUCT CATEGORY NAME:Electronics, PRODUCT COUNT: 6
PRODUCT CATEGORY NAME:Jewelry, PRODUCT COUNT: 1

In [ ]:
from django.db.models import Count
product = (Product.objects.filter(categories__name__in=['Electronics', 'Jewelry'],price__gt=8000,price__lt=50000).values('categories__name').annotate(p_count=Count('id')))
for p in product:
    print(f"PRODUCT CATEGORY NAME: {p['categories__name']}, PRODUCT COUNT: {p['p_count']}")